.config/Bitwarden/
.config/Bitwarden\ CLI/
.config/configstore/
.config/qutebrowser/
.config/transmission-daemon/stats.tsv.bak
theme_change.mp4
.config/kritarc
.config/fontforge
.config/nvim/.netrwhist
.varfiles/gitPAT
.config/mpd/mpd.db
.config/mpd/mpd.log
.config/mpd/mpdstate
.config/mpd/sticker.sql
*.pid
.config/deluge
.config/transmission-daemon/dht.dat
.emacs.d/elpa
.config/BraveSoftware
.config/Epic
.config/Koi_Unleashed/
.config/MonoGame/
.config/Open Sorcery/
.config/RStudio/
.config/Slack
.config/UNDERTALE/
.config/Unknown Organization/
.config/autostart/
.config/calibre
.config/cef_user_data/
.config/chromium/
.config/compiz-1/
.config/dconf/user
.config/discord
.config/enchant/
.config/evolution/
.config/expressvpn/
.config/gedit/
.config/google-chrome/
.config/gtk-2.0/gtkfilechooser.ini
.config/i3/syndaemon.pid
.config/ibus
.config/inkscape/extension-errors.log
.config/libaccounts-glib/
.config/libreoffice
.config/lutris/
.config/matplotlib/
.config/menus/applications-merged
.config/mimeapps.list
.config/mpv
.config/nautilus
.config/opera/
.config/pavucontrol.ini
.config/polybar/schedules/
.config/pulse
.config/qpdfview/qpdfview.conf
.config/qt5ct/
.config/skypeforlinux/
.config/syncthing/
.config/systemd/
.config/totem/
.config/transmission-daemon/resume/
.config/transmission-daemon/stats.json
.config/transmission-daemon/torrents/
.config/transmission/
.config/unity/
.config/unity3d/
.config/user-dirs.dirs
.config/vlc
.config/zoomus.conf
.ipython/profile_default/db/dhist
.ipython/profile_default/db/rootmodules_cache
.ipython/profile_default/history.sqlite
.jupyter
.mpd/mpd.db
.mpd/mpd.log
.mpd/mpdstate
.mpd/playlists/mostrecent.m3u
.mpd/playlists/mostrecentadded.m3u
.mpd/sticker.sql
.ncmpcpp/error.log
.scripts/schedules
.tmux/resurrect
.vim/.netrwhist
Anaconda*
.config/QtProject.conf
.config/Trolltech.conf
.config/dolphinrc
.config/glib-2.0/
.config/inkscape/
.config/kglobalshortcutsrc
.config/kritadisplayrc
.config/monitors.xml
.config/user-dirs.locale
.config/nvim/plugged/
.scripts/torrent/results.tsv
