.mpd/mpd.db
.mpd/mpd.log
.mpd/mpdstate
.mpd/playlists/mostrecentadded.m3u
.mpd/playlists/mostrecent.m3u
.mpd/sticker.sql
.ncmpcpp/error.log
*.pid
.scripts/schedules
.scripts/torrent/results.tsv
theme_change.mp4
.tmux/resurrect
.vim/.netrwhist
.config/Buckets/
.config/QtProject.conf
.config/cef_user_data/
.config/dconf/
.config/drkonqirc
.config/enchant/
.config/fluent-reader/
.config/gedit/
.config/go/
.config/gtkrc
.config/gtkrc-2.0
.config/ibus/
.config/inkscape/
.config/libaccounts-glib/
.config/libreoffice/
.config/mimeapps.list
.config/nvim/lazy-lock.json
.config/print-manager
.config/pulse/
.config/qt5ct/
.config/spectaclerc
.config/syncthing/
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume/
.config/transmission-daemon/torrents/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xdg-desktop-portal-kderc
.config/xsettingsd/
