[user]
	email = slreed@andrew.cmu.edu
	name = Siddharth Reed
[push]
    default = simple
	url = https://DJSiddharthVader@github.com/DJSiddharthVader/dotfiles.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[safe]
	directory = /home/sidreed/TalkowskiLab/Projects/HiC/remote.16p
