/* @namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"; */
/* @import url(colors.css); */
@import url(waterfox.css);
/* HIDE BUTTONS */ 
.bookmark-item .toolbarbutton-icon[label="Read Later"] { display: none !important; }
/* hide window controls */
.titlebar-buttonbox-container { display: none; }
/* Hide window controls on fullscreen */
#window-controls { display: none; }
/* Bookmark star button */
#star-button{ display:none; }
/* Add-ons puzzle piece button */
/* #unified-extensions-button {  display: none !important;} */
/* nav bar extension overflow */
#nav-bar-overflow-button { display: none !important; }
/* Hide other misc buttons and icons */
/* #reload-button { display: none; } */
#urlbar-zoom-button { display: none; }
#urlbar-go-button { display: none; }
#urlbar-bookmark-button { display: none; }
#downloads-button { display: none; }
#library-button { display: none; }
#sidebar-button { display: none; }
#canvas-blocker-button { display: none; }
#tracking-protection-icon-container { display: none; }
#identity-box { display: none; }
#pageActionButton { display: none; }
#pocket-button { display: none; }
/* Go to arrow button at the end of the urlbar when searching */
/* Bottom left page loading status or url preview */
#statuspanel { display: none !important; }
/* General Firefox menu button */
#PanelUI-button { display: left; }
#stop-button { display: none; }
#home-button { display: none; }
#star-button-box { display: none !important; }
.toolbar{ display: none; }
/* Firefox account button */
#fxa-toolbar-menu-button { display: none; }
#navigator-toolbox {
    background-image: var(--wallpaper) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    font-smoothing: antialiased !important;
    /* color: var(--color0) !important; */
    /* background: var(--color3transparent) !important; */
    color: var(--color7) !important;
}
/* Format nav-bar region */
#nav-bar {
    background-image: var(--wallpaper) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 0 0 0 0px orange !important;
    background: transparent !important;
}
#nav-bar .urlbar {
    background: transparent !important;
}
#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-text,
#nav-bar .toolbarbutton-1 > .toolbarbutton-badge-stack {
    /* background: var(--color3transparent) !important; */
    height: 2.75rem !important;
    width:  2.75rem !important;
}
#nav-bar .toolbarbutton-1 image {
    /* background: var(--color3transparent) !important; */
    background: transparent !important;
    height: 1.75rem !important;
    width:  1.75rem !important;
}
/* Vertical Tabs */
#sidebar {
    /* background: transparent !important; */
    background-image: var(--wallpaper) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    font-smoothing: antialiased !important;
    /* color: var(--color0) !important; */
    font-family: "PKMN RBYGSC";
    font-size: 13pt !important;
    font-weight: bolder !important;
    /* color: var(--color4) !important; */
    color: var(--color7) !important;
}
#sidebar-main {
    /* background: transparent !important; */
    background-image: var(--wallpaper) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    font-smoothing: antialiased !important;
    /* color: var(--color0) !important; */
    font-family: "PKMN RBYGSC";
    font-size: 13pt !important;
    font-weight: bolder !important;
    /* color: var(--color4) !important; */
    color: var(--color7) !important;
}
#sidebar-main .tabbrowser-tab .tab-background:not([selected]) {
    /* background: rgba(64, 64, 64, 0.7) !important; */
    background: var(--color3transparent) !important;
    color: var(--color7) !important;
    /* background: var(--color3) !important; */
    /* opacity: 0.7 !important; */
}
/* Button areas surrounding url text bar */
#TabsToolbar {
    font-family: "PKMN RBYGSC";
    font-size: 15pt !important;
    font-weight: bolder !important;
    /* background: var(--color3transparent) !important; */
    color: var(--color7) !important;
}
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
    /* background: var(--color3transparent) !important; */
    height: 3.5rem !important;
    width:  3.5rem !important;
}
.tabbrowser-tab[fadein]{ 
/* safari style tab width */
    max-width: 100vw !important; 
    border: none 
}
.tabbrowser-tab .tab-background[selected] {
    background: var(--color4) !important;
}
.toolbarbutton-icon .tab-icon-image {
    width: 22pt !important;
    height: 22pt !important;
}
menupopup, panel {
    padding-left: 10px !important; 
    font-family: "PKMN RBYGSC";
    font-size: 14pt !important;
    font-weight: bold !important;
    --panel-background: var(--color2) !important;
    --panel-color: var(--color4) !important;
}
menuitem:hover {
    background-color: var(--color2) !important;
    color: var(--color4) !important;
}
menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
    font-family: "PKMN RBYGSC";
    font-size: 15pt !important;
    font-weight: bold !important;
    background-color: var(--color2) !important;
    color: var(--color4) !important;
}
/* Bookmarks bar */
#PersonalToolbar {
    background-image: var(--wallpaper) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    font-family: "PKMN RBYGSC";
    font-size: 12pt !important;
    font-weight: bold !important;
}
#PlacesToolbarItems > .bookmark-item {
    background: var(--color3transparent) !important;
}
/* URL bar formating */
#urlbar, #searchbar {
    max-height: 50pt !important;
    background: var(--color4) !important;
}
#urlbar, #searchbar .searchbar-textbox{
    max-height: 50pt;
    font-family: "PKMN RBYGSC";
    font-size: 14pt !important;
    background-color: var(--color4) !important;
}
.urlbarView .searchbar-textbox{
    color: var(--color0) !important; /* text */
}
.urlbarView {
    background: var(--color4) !important;
    opacity: 1 !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    box-shadow: 10px 45px 146px -64px rgba(0, 0, 0, 0.65);
    width: 100% !important;
}

#urlbar-input::selection {
    background-color: var(--color4) !important;
}
